.BodyContainer{
    background-color: lightblue;
    width:100%;
    height:100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    color: black;
    grid-gap: 5px;
}

.InsideBody{
    grid-area: body;
    height: 650px;
    width: 600px;
    background-color:#ffffff;;
    opacity: 0.4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'footer footer footer footer footer footer';
    grid-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.TodoContainer{
    grid-area: footer;
    height: 500px;
    width: 500px;
    background-color:lightskyblue;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 10px;
    margin: auto;
    overflow-y: scroll;
    

}

.UpperInsideBody{
    margin-top: 20px;
    padding-top: 10px;
    grid-area: header;
    height: 100px;
    width: 500px;
    background-color:lightskyblue;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-gap: 5px;

}
.NewTodo{
    padding-top: 5px;
    margin-top: 40px;
    height: 30px;
    width: 400px;
    background-color:white;
    border-radius: 10px;
    margin: auto;

}

.but{
    grid-area:menu;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}
